/* App */
.app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* JobList */
  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .job-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
   
  }
  
  /* JobItem */
  .job-item {
    border: 2px solid #0a0a0a;
    padding: 10px;
    background-color: #9acbff;
  }
  
  /* JobDetails */
  .job-details {
    padding: 20px;
    border: 1px solid #ccc;
   
  }

  .header {
    background-color: rgb(84, 71, 187);
    border: 2px solid red;
    position: static;
    width: 100%;
    bottom: 0;
    color: white;
    font-size: 20px;
    
  }

  .footer {
    background-color: rgb(84, 71, 187);
    border: 2px solid red;
    position: static;
    width: 100%;
    bottom: 0;
    color: white;
    font-size: 20px;
  }
  
  /* Navigation */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  /* Responsive */
  @media (max-width: 600px) {
    .job-list {
      grid-template-columns: 1fr;
    }
  }
  